<!--
=============================================================
 Title:  home.component.html
 Author: Professor Krasso
 Date:   19 September 2020
 Modified By: Janet Blohn
 Description: Description: nodebucket project
 HTML for the nodebucket Home Component
=============================================================
-->
<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to nodebucket's Task Management App! <br />
    <!--<span class="subtitle">
      Task List
    </span> -->
  </h1>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px" style="width: 80%; margin: 0 auto;">

    <div fxFlex fxLayout="column" class="toDo-box" >

      <!-- Create a box for the To Do List -->
        <mat-card class="mat-elevation-z8">
          <mat-card-title>To Dos</mat-card-title>

          <mat-card-content> <!-- ng loop to collect all tasks on the database -->
            <ul><li></li></ul>

          </mat-card-content>
        </mat-card>
      </div>
      <!-- Create a box for the Done List -->
      <div fxFlex class="done-box">
        <mat-card class="mat-elevation-z8">
          <mat-card-title>Done</mat-card-title>

          <mat-card-content> <!-- ng loop for done tasks-->
            <!--<app-grade-summary *ngFor="let entry of transcriptEntries" [course]="entry.course" [grade]="entry.grade"></app-grade-summary>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>


 <!-- <router-outlet></router-outlet>-->
