<!--
=============================================================
 Title:  base-layout.component.html
 Author: Professor Krasso
 Date:   24 September 2020
 Modified By: Janet Blohn
 Description: nodebucket project
 HTML for the base-layout.component of nodebucket
=============================================================
-->
<div>
<div fxLayout="column">

  <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar fxLayout="row" class="mat-primary">
        <!-- navbar container -->
        <div>
        <div class="navbar-container">
          <!-- logo -->
          <button mat-button class="logo" routerLink="/" mat-button>nodebucket</button>
          <button mat-button class="navbar-link" routerLink="/">Home</button>
          <button mat-button class="navbar-link" routerLink="/about">About</button>

          <button class="navbar-link float-end" mat-button (click)="signOut()">Sign out</button></div></div>
      </mat-toolbar>
    </nav>

    <!-- main content -->

      <div fxFlex>
      <main class="main-content" fxFlex="100%;">
       <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxLayout="row">
    <div fxFlex>

     <!-- <footer class="footer footer-content mat-primary"> -->
        <!--<mat-toolbar class="footer-content" class="mat-primary"> --> <!-- flFlexOffset new-->
          <mat-toolbar class="footer footer-content mat-primary" fxFlexOffset="auto">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
       <!-- </mat-toolbar>-->
    <!--  </footer> -->
    </div>
  </div>
</div>
