.logo {
    max-height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo img {
    display: block;
    width: 58px;
    height: 58px;
}

.navbar-container {
  width: 100%;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 30px;
  min-height: 90%;
  height: 90%;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: darkgray;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
  color: purple;
  font-weight: strong;
}

.bu-link:hover {
  text-decoration: underline;
}

.float-end {
  position: absolute;
  right: 0px;
  margin: 0;
}

.mat-toolbar {
  padding-top: 10px;
}
